<!DOCTYPE html>
<html>
<head>
      {% load static %}  
      {% static "" as baseUrl %}
</head>
<body>

<h2>User Profile</h2>
<table style="width:100%">
  {% for raw in post_data %} 
<div>
  <a href="{% url 'post_des' username=raw.id %}"> Username: {{raw.author.uname}}</a>

</br>
  Post Title:  <tr>{{raw.title}}</tr>
 
  Post Body:  <tr>{{raw.body}}</tr>

   {% endfor %}
</table>
<a href="/profile/">Profile</a>

<!-- <img src="{{row.file.url}}" alt="My image" height="300px" width="700px"/> -->
<img src="{{ baseUrl }}upload/{{row.file.url}}" alt="My image" height="100px" width="100px"/>  
</br>

</body>
</html>
